body {
	font-family: sans-serif;
	color: #333;
	background-color: rgb(242, 242, 242);
}

// reset
h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

button {
	background: white;
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	cursor: pointer;
	border: none;
	box-shadow: 0 0 2px 1px rgb(0,0,0,0.1);
}

button:hover {
	background: #EEE;
}

.button-group {
	display: flex;
	gap: 0.5rem;
}

// styling
.title {
	font-size: 2.5rem;
}

.subtitle {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.details {
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	font-size: 1rem;
}

.offsetLeft {
	margin-left: 3rem;
}

.page {
	display: flex;
	justify-content: center;
}

.content {
	margin: 1rem;
	max-width: 54rem;
	width: 100%;
}

.headline {
	display: flex;
	align-items: end;
	gap: 1.5rem;
	margin-bottom: 2rem;
}

.logo {
	width: 3rem;
	height: 3rem;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
}

.icon {
	width: 2rem;
	height: 2rem;
	display: inline;
}

.card {
	margin-bottom: 2rem;
	padding: 1rem;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1), 3px 3px 18px 0px rgba(89, 139, 255, 0.2), -3px -3px 18px 0px rgba(253, 58, 58, 0.1);
	border-radius: 0.5rem;
	background-color: rgb(246, 246, 246);
	width: fit-content;
}

.status-line {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.timeline {
	margin-left: 1.5rem;
	border-left: 0.3rem solid #CCC;
}

.timeline {
	list-style: none;
	list-style-type: none;
	padding-left: 0;
}

.timeline > li {
	padding: 0rem;
	transform: translateX(-0.65rem);
}

.event {
	display: flex;
	gap: 1rem;
}

.circle {
	flex-shrink: 0;
	display: inline-block;
	border-radius: 100%;
	background-color: #CCC;
	width: 1rem;
	height: 1rem;
}

.notification-message {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.notification {
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	color: white;
	font-weight: bold;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	box-shadow: 0 0 2px 1px rgb(0,0,0,0.1);
}

.success-bg {
	background-color: rgb(105, 205, 66);
}

.warning-bg {
	background-color: rgb(240, 177, 29);
}

.error-bg {
	background-color: rgb(246, 18, 18);
}

.success {
	color: rgb(127, 200, 99);
}

.error {
	color: rgb(246, 18, 18);
}

.warning {
	color: rgb(240, 177, 29);
}

.incident {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.incident > svg {
	flex-shrink: 0;
}

.incidentDate {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.incidentDescription {
	line-height: 1.5rem;
}

.partners {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.partners > div {
	border: 1px solid #CCC;
	padding: 1rem;
	border-radius: 0.25rem;
}

.partner-item {
	display: flex;
	align-items: center;
	gap: 1rem;
}